.HomePage-content {
  background-size: cover;
  background-image: url('/images/pattern.svg');
  display: flex;
  align-items: center;
  height: 92%;
  width: 100%;
}

.HomePage-search-label {
  color: white;
  font-weight: 100;
  font-size: 35px;
}
