html, body, #root, .app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(252, 90, 44, 0.89);
  border-radius: 0;
  margin: 0;
}

.navbar-default {
  border: none;
  padding: 5px;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 2em;
}

.btn-pad-left {
  margin-left: 10px;
}

.home-content {
  background-size: cover;
  background-image: url('/images/pattern.svg');
  display: flex;
  align-items: center;
  height: 92%;
  width: 100%;
}

.home-search-label {
  color: white;
  font-weight: 100;
  font-size: 35px;
}

.forecast-header {
  font-weight: 200;
}

.forecast-header > small {
  font-weight: 100;
}

.forecast-card {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.8em;
  font-weight: 100;
  cursor: pointer;
  border-radius: 10px;
}

.forecast-card:hover {
  background-color: rgba(80, 131, 133, 0.08);
}

.weather-icon {
  height: 130px;
  margin-bottom: 10px;
}
